* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    font-weight: 700;
    color: #202020;
}

h1 {
    font-size: 32px;
    line-height: 42px;
}

h2 {
    font-size: 24px;
    line-height: 32px;
}

h3 {
    font-size: 18px;
    line-height: 28px;
}

.breadcrumbs {
    padding: 20px 0;
}

.breadcrumbs ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

.breadcrumbs ul li {
    position: relative;
    padding-right: 15px;
}

.breadcrumbs ul li:not(:last-child)::before {
    position: absolute;
    top: 50%;
    content: '-';
    right: 0;
    transform: translateY(-50%);
}

.breadcrumbs ul li span,
.breadcrumbs ul li a {
    font-size: 12px;
    line-height: 18px;
    transition: all .3s;
    color: #444;
}

.breadcrumbs ul li a:hover {
    opacity: 0.5;
}

.tab {
    transition: all .3s;
}

.tab:hover {
    cursor: pointer;
    opacity: 0.8;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.card {
    padding: 40px 0;
}

.card-wrap {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.card-left__content {
    max-width: 400px;
    width: 100%;
}

.card-img {
    border: 1px solid #e0e0e0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-height: 400px;
}

.card-left img {
    max-width: 100%;
    height: auto;
}

.card-previews {
    display: flex;
    width: 100%;
    max-height: 100px;
    margin-top: 10px;
    align-items: center;
    gap: 10px;
}

.card-preview {
    opacity: 0.5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: opacity .3s;
    overflow: hidden;
    border: 1px solid #e0e0e0;
}

.card-preview.active,
.card-preview:hover {
    opacity: 1;
    cursor: pointer;
}

.variants {
    margin-top: 20px;
}

.variants-tabs {
    display: flex;
    align-items: center;
}

.variants-item {
    background: #f6f7f8;
    padding: 10px;
    white-space: nowrap;
    border: solid 1px #f0f0f0;
}

.variants-item:hover,
.variants-item.active {
    background: #e9f2c3;
    opacity: 1;
}

.variants-content {
    margin-top: 20px;
}

.variants-art {
    color: #808080;
    font-size: 12px;
    line-height: 18px;
}

.variants-content__box {
    display: flex;
    align-items: center;
    gap: 30px;
}

.variants-prices {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.variants-price {
    font-size: 18px;
    color: #ff0000;
    font-weight: 600;
}

.variants-price__old {
    font-size: 13px;
    color: #808080;
    text-decoration: line-through;
}

.basket {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e9f2c3 center center/24px no-repeat;
    text-align: center;
    transition: all .3s;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 21C5 19.3431 6.34315 18 8 18C9.65685 18 11 19.3431 11 21C11 22.6569 9.65685 24 8 24C6.34315 24 5 22.6569 5 21ZM8 20C7.44772 20 7 20.4477 7 21C7 21.5523 7.44772 22 8 22C8.55228 22 9 21.5523 9 21C9 20.4477 8.55228 20 8 20Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 21C17 19.3431 18.3431 18 20 18C21.6569 18 23 19.3431 23 21C23 22.6569 21.6569 24 20 24C18.3431 24 17 22.6569 17 21ZM20 20C19.4477 20 19 20.4477 19 21C19 21.5523 19.4477 22 20 22C20.5523 22 21 21.5523 21 21C21 20.4477 20.5523 20 20 20Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1C0 0.447715 0.447715 0 1 0H3.25151C4.75574 0.00227875 6.02571 1.11819 6.22146 2.60958C6.22148 2.60972 6.22144 2.60944 6.22146 2.60958L7.74141 14.1292C7.80708 14.6302 8.23626 15.0043 8.74152 15L8.75 15L19.32 15L19.3392 15.0002C19.8235 15.0095 20.2448 14.6703 20.3392 14.1952L20.3395 14.1937L22.0195 5.80366C22.1279 5.26212 22.6548 4.91103 23.1963 5.01946C23.7379 5.1279 24.089 5.65481 23.9805 6.19634L22.3008 14.5848C22.3008 14.5852 22.3007 14.5856 22.3006 14.586C22.0177 16.0073 20.7594 17.0227 19.3113 17H8.75378C7.24033 17.0105 5.95576 15.8918 5.75859 14.3908M5.75859 14.3908L4.23859 2.87081C4.17343 2.37381 3.75029 2.00107 3.24911 2H1C0.447715 2 0 1.55228 0 1' fill='black'/%3E%3Cpath d='M8 6C8 5.44772 8.44772 5 9 5H19C19.5523 5 20 5.44772 20 6C20 6.55228 19.5523 7 19 7H9C8.44772 7 8 6.55228 8 6Z' fill='black'/%3E%3Cpath d='M14 0C14.5523 2.41411e-08 15 0.447715 15 1L15 11C15 11.5523 14.5523 12 14 12C13.4477 12 13 11.5523 13 11L13 1C13 0.447715 13.4477 -2.41411e-08 14 0Z' fill='black'/%3E%3C/svg%3E%0A");
}

.basket:hover {
    background-color: #000;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 21C5 19.3431 6.34315 18 8 18C9.65685 18 11 19.3431 11 21C11 22.6569 9.65685 24 8 24C6.34315 24 5 22.6569 5 21ZM8 20C7.44772 20 7 20.4477 7 21C7 21.5523 7.44772 22 8 22C8.55228 22 9 21.5523 9 21C9 20.4477 8.55228 20 8 20Z' fill='%23f5d730'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 21C17 19.3431 18.3431 18 20 18C21.6569 18 23 19.3431 23 21C23 22.6569 21.6569 24 20 24C18.3431 24 17 22.6569 17 21ZM20 20C19.4477 20 19 20.4477 19 21C19 21.5523 19.4477 22 20 22C20.5523 22 21 21.5523 21 21C21 20.4477 20.5523 20 20 20Z' fill='%23f5d730'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1C0 0.447715 0.447715 0 1 0H3.25151C4.75574 0.00227875 6.02571 1.11819 6.22146 2.60958C6.22148 2.60972 6.22144 2.60944 6.22146 2.60958L7.74141 14.1292C7.80708 14.6302 8.23626 15.0043 8.74152 15L8.75 15L19.32 15L19.3392 15.0002C19.8235 15.0095 20.2448 14.6703 20.3392 14.1952L20.3395 14.1937L22.0195 5.80366C22.1279 5.26212 22.6548 4.91103 23.1963 5.01946C23.7379 5.1279 24.089 5.65481 23.9805 6.19634L22.3008 14.5848C22.3008 14.5852 22.3007 14.5856 22.3006 14.586C22.0177 16.0073 20.7594 17.0227 19.3113 17H8.75378C7.24033 17.0105 5.95576 15.8918 5.75859 14.3908M5.75859 14.3908L4.23859 2.87081C4.17343 2.37381 3.75029 2.00107 3.24911 2H1C0.447715 2 0 1.55228 0 1' fill='%23f5d730'/%3E%3Cpath d='M8 6C8 5.44772 8.44772 5 9 5H19C19.5523 5 20 5.44772 20 6C20 6.55228 19.5523 7 19 7H9C8.44772 7 8 6.55228 8 6Z' fill='%23f5d730'/%3E%3Cpath d='M14 0C14.5523 2.41411e-08 15 0.447715 15 1L15 11C15 11.5523 14.5523 12 14 12C13.4477 12 13 11.5523 13 11L13 1C13 0.447715 13.4477 -2.41411e-08 14 0Z' fill='%23f5d730'/%3E%3C/svg%3E%0A");
}

.card-description {
    margin-top: 50px;
}

.card-description__content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-description__content ul {
    margin-left: 30px;
}

.card-description__content a {
    color: inherit;
    text-decoration: underline;
}

.card-description__content a:hover {
    text-decoration: none;
}

@media screen and (max-width: 769px) {
    .card-wrap {
        flex-wrap: wrap;
    }

    .card-left {
        width: 100%;
    }

    .card-left__content {
        max-width: 100%;
    }
}